body {
  margin: 0;
  font-family: "Noto Sans JP";
  /* 背景画像の写真を設定 */
  /* 背景画像のサイズと位置を設定 */
  /* 背景をぼかす */
}

h1 {
  color: red;
}

.title_section {
  font-size: "32px";
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Noto Sans JP";
  background: url("../images/main.JPG");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
}

button {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 3px solid #dedede;
  color: #dedede;
  font-size: 20px;
}

button img {
  width: 70px;
  height: 70px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.button_section {
  display: flex;
  justify-content: center;
  align-items: denter;
  flex-wrap: wrap;
}

.button_health {
  background: #a03ead;
}

.button_love {
  background: #ad483e;
}

.button_economy {
  background: #8ead3e;
}

.button_study {
  background: #3ead74;
}

main {
  max-width: 480px;
  height: 100vh;
  background: #3e62ad;
  color: #dedede;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.result_section {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}